kill.log
kaboom
config.env
motd.txt
framework/vendor/java/
server/
logs/
schematics/
server-default/server.jar
server-default/paper.jar
server-default/plugins/Essentials.jar
server-default/plugins/FastAsyncWorldEdit.jar
server-default/plugins/Geyser.jar
server-default/plugins/ViaVersion.jar
server-default/plugins/ViaBackwards.jar
server-default/plugins/ViaRewind.jar
mc-webui/node_modules/
mc-webui/package-lock.json
worlds/
warps/
