auto_update=true

# Minecraft Server Settings
server_host=0.0.0.0
server_port=25565
query_enabled=true
query_port=25565
# Bedrock Edition (Geyser)
bedrock_clone_java_port=false
bedrock_port_if_no_clone=19132
# Discord Log (Webhook)
discord_log_enabled=false
discord_log_webhook=CHANGE_THIS
# Message that appears on join
essentials_motd="&6Welcome!
&7This is a fork of &8https://github.com/kaboomserver/&7.
&7Overworld Map: &8https://www.planetminecraft.com/project/greenfield---new-life-size-city-project/&7.
&7There are some Warp Points &8(see /warps)&7.
&7The server can be resetted everytime &8(typically every 24 hours)&7.
&7Saved schematics are still available after resets."

# Webinterface Settings (only necessary if you have set up the systemd service for the webinterface or want to set it up)
webinterface_host=127.0.0.1
webinterface_port=3005
