&6Welcome!
&7This is a fork of &8https://github.com/kaboomserver/&7.
&7Overworld Map: &8https://www.planetminecraft.com/project/greenfield---new-life-size-city-project/&7.
&7There are some Warp Points &8(see /warps)&7.
&7The server can be resetted everytime &8(typically every 24 hours)&7.
&7Saved schematics are still available after resets.
